<h1>New Category</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.mud_category_path(@conn, :create, @mud_slug)) %>

<span><%= link "Back", to: Routes.mud_category_path(@conn, :index, @mud_slug) %></span>
