<h1>Show Category</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.mud_category_path(@conn, :edit, @mud_slug, @category) %></span>
<span><%= link "Back", to: Routes.mud_category_path(@conn, :index, @mud_slug) %></span>
