<script>
  function fireOnReady() {
    $('#templates').DataTable( {
        order: [[0, 'asc']],
        responsive: true
    } );

  }
  if (document.readyState === 'complete') {
      fireOnReady();
  } else {
      document.addEventListener("DOMContentLoaded", fireOnReady);
  }
</script>