<h1>Show Template</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @template.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.mud_template_path(@conn, :edit, @mud_slug, @template) %></span>
<span><%= link "Back", to: Routes.mud_template_path(@conn, :index, @mud_slug) %></span>
