language: elixir

elixir:
  - 1.4.2

otp_release:
  - 19.0

services:
  - postgresql

before_script:
  - psql -c "CREATE USER exmud" -U postgres
  - psql -c "ALTER USER exmud WITH SUPERUSER" -U postgres
  - cp config/database.travis.yml config/database.yml

script:
  - "mix do deps.get, test && mix compile && mix coveralls.travis"

after_script:
  - mix deps.get --only docs
  - MIX_ENV=docs mix inch.report

env:
  - MIX_ENV=test