{{#if hasTooltip}}
<span class="input-group-label has-tooltip" data-tooltip aria-haspopup="true" data-disable-hover='false' title={{tooltipText}}>{{fa-icon "info"}}</span>
{{/if}}
<input class="input-group-field" placeholder={{placeholder}} type={{type}}>