<h1>Show Template type</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @template_type.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.template_type_path(@conn, :edit, @template_type) %></span>
<span><%= link "Back", to: Routes.template_type_path(@conn, :index) %></span>
