<%= f = form_for @changeset, "#", [phx_change: :validate, phx_submit: :save] %>
  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= if @has_name_error? do %>
    <%= help_text_error_tag f, :name, "name_help_text" %>
  <% else %>
    <p class="help-text" id="name_help_text">The name of the MUD as appears to all players in the UI.</p>
  <% end %>

  <div>
    <%= submit "Save", class: "button primary", phx_disable_with: "Saving..." %>
  </div>
</form>