<h1>Show Prototype</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @prototype.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.prototype_path(@conn, :edit, @prototype) %></span>
<span><%= link "Back", to: Routes.prototype_path(@conn, :index) %></span>
