<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", assigns %>
  <body>
    <div class="grid-y grid-frame">
      <div class="cell shrink header">
        <%= render "nav_and_flash.html", assigns %>
      </div>
      <div class="cell auto cell-block-container">
        <div class="grid-x grid-padding-x" style="height:100%">
          <div class="cell shrink mud-layout-side-nav-container">
            <div class="grid-y grid-frame">
              <%= for link <- @side_nav_links do %>
                <div class="cell auto">
                  <form action="<%= link.path %>" class="mud-layout-side-nav-form">
                    <%= if link.disabled do %>
                      <button type="submit" class="button secondary mud-layout-side-nav-button" disabled>
                    <% else %>
                      <button type="submit" class="button secondary mud-layout-side-nav-button">
                    <% end %>
                      <p><%= link.text %></p>
                    </button>
                  </form>
                </div>
              <% end %>
            </div>
          </div>
          <div class="cell auto medium-cell-block-y">
            <div class="grid-y grid-padding-y">
              <div class="cell">
                <h2><%= @mud.name %></h2>
              </div>
              <div class="cell">
                <%= render @view_module, @view_template, assigns %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%= render "post_body.html", assigns %>
</html>
