<div id="client" class="row full-width">
	<div id="output_row" class="row full-width">
		<div id="output"></div>
	</div>
	<div class="row full-width">
		<input id="input" type="text" placeholder="Enter text here">
	</div>
</div>