@import "settings";
@import 'foundation';
@include foundation-everything;
@include foundation-flex-grid;
@import "bower_components/font-awesome/scss/font-awesome";

$background-color: #292c2f;
$primary-color: #87D37C;

$menu-background: #333;

.row {
  max-width: 100%;
}

.top-bar {
  background: $menu-background;
  
  ul {
    background: $menu-background;
  
    li {
      background: $menu-background;
    
        a {
          color: #fff;
      }
    }
  }
}

.tooltip {
	z-index: 1010;
}

.has-tooltip {
	cursor: help;
}

.input-group-field {
  width: 100%;
}