<h1>Show Decorator category</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @decorator_category.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.decorator_category_path(@conn, :edit, @decorator_category) %></span>
<span><%= link "Back", to: Routes.decorator_category_path(@conn, :index) %></span>
