<h1>Edit Decorator type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.decorator_type_path(@conn, :update, @decorator_type)) %>

<span><%= link "Back", to: Routes.decorator_type_path(@conn, :index) %></span>
