<h1>New Decorator type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.decorator_type_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.decorator_type_path(@conn, :index) %></span>
