<h1>New Simulation callback</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.simulation_callback_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.simulation_callback_path(@conn, :index) %></span>
