<h1>Show Simulation callback</h1>

<ul>

  <li>
    <strong>Default args:</strong>
    <%= @simulation_callback.default_args %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.simulation_callback_path(@conn, :edit, @simulation_callback) %></span>
<span><%= link "Back", to: Routes.simulation_callback_path(@conn, :index) %></span>
