<h1>Show Simulation callback</h1>

<ul>

  <li>
    <strong>Default args:</strong>
    <pre><%= Poison.encode!(@simulation_callback.default_config, pretty: true) %></pre>
  </li>

</ul>

<span><%= link "Edit", class: "button primary", to: Routes.simulation_callback_path(@conn, :edit, @simulation_callback) %></span>
