<nav id="main-desktop-nav" class="top-bar" role="navigation">
	<div class="top-bar-left">
   	<ul class="menu">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      {{#if session.isAuthenticated}}
        <li>{{#link-to 'play'}}Play{{/link-to}}</li>
      {{/if}}
    </ul>
   </div>
   <div class="top-bar-right">
    <ul class="menu">
      {{#unless session.isAuthenticated}}
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        <li>{{#link-to 'register'}}Register{{/link-to}}</li>
      {{/unless}}
      {{#if session.isAuthenticated}}
        <li><a href="#" {{action 'invalidateSessioninvalidateSession'}}>Logout</a></li>
      {{/if}}
    </ul>
  </div>
</nav>