<h1>Show Callback</h1>

<ul>

  <li>
    <strong>Module:</strong>
    <%= @callback.module %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @callback.type %>
  </li>

  <li>
    <strong>Default args:</strong>
    <%= inspect(@callback.default_args) %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.callback_path(@conn, :edit, @callback) %></span>
<span><%= link "Back", to: Routes.callback_path(@conn, :index) %></span>
